.casilla{
    width: 30px;
    height: 30px;
    border: 0;
}

button.casilla{
    padding: 0;
    background-color: rebeccapurple;
    box-shadow: 1px 1px 5px 1px green;
}

div.casilla{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: grey;
    
}
